
body {
  background-color: #1d1d1d;
  margin-left: auto;
  margin-right: auto;
  width: 625px;
  padding-top: 120px;
}

ul{
  list-style-type: none;
}

@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata-Regular.ttf");
}
@font-face {
    font-family: 'Quinze';
    src: url("../fonts/QuinzeNarrow.ttf");
}
@font-face {
    font-family: 'Fantasque';
    src: url("../fonts/FantasqueSansMono-Regular.ttf");
}
.greeting, .clock{
  font-family: 'Fantasque';
  align-items: center;
  font-size: 50px;
  color: #34B454;
  padding-left: 35px;
  font-weight: bolder;
  text-align: center;
}

.clock{
    font-family: 'Quinze';
    font-weight: normal;
    font-size: 150px;
    height: 175px;
}

.top-level > li{
  font-family: 'Fantasque';
  font-size: 25px;
  color: #34B454;
  border-bottom: 1px solid;
  /* margin-top: 10px; */
  padding-top: 10px;
}

.sub-level > li {
  font-family: 'Fantasque';
  font-size: 23px;
  color: #00aa82;
  display: inline-block;
  margin-top: 5px;
}

.sub-level li::before{
  content: "+";
  margin-left: 5px;
}

/* .sub-level{
    visibility: hidden;
} */

a{
  color: inherit;
}
