
body {
  background-color: #1d1d1d;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-top: 10%;
  padding-bottom: 10%;
  display: block;
}

#search_area{
    font-family: 'Fantasque';
    display: inherit;
    font-size: 20px;
    height: 1.5em;
    width: 70%;
    margin: auto;
    margin-top: 15px;
    background-color: #1d1d1d;
    border: 2px solid #22bb66;
    border-radius: 5px;
    color: #00aa82;
    text-align: center;
}

ul{
  list-style-type: none;
  padding: 0px;
}

@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata-Regular.ttf");
}
@font-face {
    font-family: 'Quinze';
    src: url("../fonts/QuinzeNarrow.ttf");
}
@font-face {
    font-family: 'Fantasque';
    src: url("../fonts/FantasqueSansMono-Regular.ttf");
}
.greeting, .clock{
  font-family: 'Raleway';
  font-size: 50px;
  color: #34B454;
  font-weight: bolder;
  text-align: center;
}

.clock{
    font-family: 'Graduate';
    font-weight: 100;
    font-size: 120px;
    height: 125px;
}

.top-level > li{
  font-family: 'Fantasque';
  font-size: 25px;
  color: #34B454;
  border-bottom: 1px solid;
  text-align: left;
  display: inherit;
  /* margin-top: 10px; */
  padding-top: 10px;
}

.sub-level > li {
  font-family: 'Fantasque';
  font-size: 23px;
  color: #00aa82;
  display: inline-block;
  margin-top: 5px;
}

.sub-level li::before{
  content: "+";
  margin-left: 5px;
}

a{
  color: inherit;
}
